@charset "UTF-8";

p{
	color: #005B96;
	text-align:center;
	font-family: "Times New Roman"
}
h1{
	color: #005B96;
	font-family: "Helvetica";
	background-color: #a3e4d7 ;
}
body{
	background-color:  #d0ece7 ;
}

#h4{
	justify-content: center;
	background-color:#a3e4d7;
}