<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  type="text/css" href="css/style.css">
</head>
<body>
<header th:insert="layouts/header :: headeragenda"></header>
<nav th:insert="layouts/header :: generalheader"></nav>
		<section>
				<p>
					video informativo sobre el beneficio
				</p>
		</section>
		<div style="text-align: center">
				<video src="../static/video/Becas Progresar 16 y 17 años.mp4" controls ></video>
       	</div>
		<footer th:replace="layouts/footer.html ::footer">

		</footer>
	</body>
</html>