<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trabajo Prctico Nº 04</title>
</head>
<body>
<div th:insert="layouts/header :: headerindex"></div>
<nav th:insert="layouts/header :: generalheader"></nav>

    <section>
        <h2> Cursos con Inscripción abierta</h2>
        <ol>
            <li> <a href="idiomas.html"> Idiomas</a></li>
            <li> <a href="disenio.html"> Diseño</a></li>
            <li> <a href="desarrollo.html">Desarrollo </a></li>
            <li> <a href="marketing.html">Marketing </a></li>
            <li> <a href="conferencias.html"> Conferencias</a></li>
        </ol>
    </section>

    <footer th:replace="layouts/footer.html ::footer">

    </footer>

</body>
</html>